body {
	background-color: #333;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header {
	background-color: #222;
	color: #fff;
	padding: 20px;
	padding-left: 40px;
}

.left-heading {
	text-align: left;
	margin-right: 20px;
}

.left-heading h1 {
	margin: 0;
	font-size: 36px;
}

.left-heading h2 {
	margin: 0;
	font-size: 20px;
}

.container {
	background-color: #333;
}

.breadcrumb {
	text-align: left;
	padding: 10px;
	color: #fff;
	margin: 20px;
}

.breadcrumb-link {
	color: #fff;
	text-decoration: none;
}

.supplier-form {
	background-color: #222;
	padding: 50px;
	padding-right: 100px;
	margin: 100px;
	margin-right: 105px;
	margin-top: 30px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: left;
	flex-grow: 1;
	overflow-y: auto;
}

.supplier-form label {
	display: block;
	margin-bottom: 10px;
	color: #fff;
	/* Set font color to white for labels */
}

/* Change the font color to white for input fields */
.supplier-form input[type="text"],
.supplier-form input[type="email"],
.supplier-form input[type="tel"],
.supplier-form textarea {
	border: none;
	background: none;
	box-shadow: 0px 2px 0px 0px white;
	width: 100%;
	color: white;
	font-size: 1em;
	outline: none;
	margin-bottom: 20px;
	margin-top: 20px;
}

/* Adjust the button width and margin */
.supplier-form input[type="submit"] {
	background: #136a8a;
	background: -webkit-linear-gradient(to right, #267871, #136a8a);
	background: linear-gradient(to right, #267871, #136a8a);
	color: #fff;
	padding: 10px 20px;

	font-weight: bold;
	cursor: pointer;
	color: #fff;
	padding: 15px 40px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	align-self: flex-end;
	margin-top: 20px;
}

.supplier-form input[type="submit"]:hover {
	background-color: #444;
}

.footer-add {
	background: #136a8a;
	background: -webkit-linear-gradient(to right, #267871, #136a8a);
	color: white;
	text-align: center;
	padding: 10px 0;
	width: 100%;
}